<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Stop output INFO at start -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{mm:ss.SSS} %logger{0} - %msg%n</Pattern>
        </encoder>
    </appender>

    <!--
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>sql-state-log.txt </file>
        <append>false</append>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
    -->

    <logger name="org.jooq.Constants" level="warn" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.chiralbehaviors.tron" level="info" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="h2database" level="warn">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="liquibase" level="warn" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.salesforce.apollo.choam" level="warn" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.salesforce.apollo.choam.CHOAM" level="warn" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.salesforce.apollo.choam.support.BatchingQueue" level="warn" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.salesforce.apollo.choam.support.TxDataSource" level="warn" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.salesforce.apollo.choam.support.OneShot" level="warn" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.chiralbehaviors.tron" level="warn" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.salesforce.apollo.choam.Session" level="warn" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.salesforce.apollo.comm" level="warn" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.salesforce.apollo.state" level="info" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="warn">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
