<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Stop output INFO at start -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>
                %d{mm:ss.SSS} [%thread] %-5level %logger{0} -
  %msg%n
            </Pattern>
        </encoder>
    </appender>
    
    <!-- SQL execution logging is logged to the LoggerListener logger at DEBUG level -->
    <Logger name="org.jooq.tools.LoggerListener" level="info">
        <AppenderRef ref="STDOUT" />
    </Logger>

    <!-- Other jOOQ related debug log output -->
    <Logger name="org.jooq" level="info">
        <AppenderRef ref="STDOUT" />
    </Logger>

    <logger name="org.jooq.Constants" level="warn" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="liquibase" level="warn" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="com.salesforce.apollo.comm" level="warn" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="com.salesforce.apollo.ring.SliceIterator" level="warn" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="com.salesforce.apollo.ring.RingIterator" level="warn" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="com.salesforce.apollo.ring.RingCommunications" level="warn" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="com.salesforce.apollo.membership" level="warn" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="com.salesforce.apollo.stereotomy" level="warn" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="com.salesforce.apollo.thoth" level="warn" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="com.salesforce.apollo.thoth.Maat" level="warn" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="com.salesforce.apollo.gorgoneion" level="warn" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
