<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Stop output INFO at start -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{mm:ss.SSS} %logger{0} - %msg%n</Pattern>
        </encoder>
    </appender>
    <logger name="com.salesforce.apollo.comm" level="warn" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.salesforce.apollo.comm.RingCommunications" level="info" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.salesforce.apollo.comm.RingIterator" level="info" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.salesforce.apollo.membership" level="warn" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.salesforce.apollo.stereotomy" level="info" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.salesforce.apollo.gorgoneion" level="info" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
