<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Stop output INFO at start -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{mm:ss.SSS} %logger{0} - %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="com.salesforce.apollo.stereotomy" level="warn" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.salesforce.apollo.fireflies" level="info" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.salesforce.apollo.archipelago.ServerConnectionCache" level="warn" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.salesforce.apollo.archipelago" level="warn" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.salesforce.apollo.ring.SliceIterator" level="warn" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.salesforce.apollo.protocols" level="warn" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.salesforce.apollo" level="info" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.salesforce.apollo.thoth.KerlSpace" level="warn" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.salesforce.apollo.thoth" level="warn" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
